In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from Index_Calculations import facility_index_gen, index_and_generation
import os
import glob
import numpy as np
from joblib import Parallel, delayed

In [2]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE",
          "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS",
          "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS",
          "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY",
          "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [3]:
facility_path = os.path.join('Data storage', 'Facility gen fuels and CO2 2017-05-25.zip')
facility_df = pd.read_csv(facility_path)
epa_path = os.path.join('Data storage', 'Monthly EPA emissions 2017-05-25.csv')
epa_df = pd.read_csv(epa_path)
ef_path = os.path.join('Data storage', 'Final emission factors.csv')
out_folder = os.path.join('Data storage', 'final state data')
NERC_path = os.path.join('Data storage', 'Facility NERC labels.csv')
all_fuel_paths = [os.path.join('Data storage', 
                              'state gen data', 
                              state + ' fuels gen.csv') for state in states]

In [ ]:
if __name__ == '__main__':
    Parallel(n_jobs=-1)(delayed(index_and_generation)
             (eia_facility=facility_df,
                 all_fuel_path = fuel_path,
                 epa=epa_df,
                 emission_factor_path=ef_path,
                 export_folder=out_folder, export_path_ext=' '
                 + state, state=state) for state, fuel_path in zip(states, all_fuel_paths))

# for state in ['AL']:
# #     print state
#     all_fuel_path = os.path.join('Data storage', 'state gen data', state + ' fuels gen.csv')
#     index_and_generation(eia_facility=facility_df,
#                          all_fuel_path = all_fuel_path,
#                          epa=epa_df,
#                          emission_factor_path=ef_path,
#                          export_folder=out_folder, export_path_ext=' '
#                          + state, state=state)

Process PoolWorker-16:
Traceback (most recent call last):
Process PoolWorker-13:
Process PoolWorker-14:
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
Process PoolWorker-15:
Traceback (most recent call last):
Traceback (most recent call last):
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
Traceback (most recent call last):
    self.run()
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
    self.run()
    self.run()
    self._target(*self._args, **self._kwargs)
    self._target(*self._args, **self._kwargs)
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
    self._target(*self._args, **self._kwargs)
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
    self._target(*self._args, **self._kwargs)
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
    task = get()
    task = get()
    task = get()
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 360, in get
    task = get()
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 360, in get
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 360, in get
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 362, in get
    racquire()
    racquire()
    racquire()
    return recv()
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
Process PoolWorker-20:
Process PoolWorker-19:
Process PoolWorker-18:
Process PoolWorker-17:
Traceback (most recent call last):
Traceback (most recent call last):
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
Traceback (most recent call last):
Traceback (most recent call last):
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
    self.run()
    self.run()
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
    self._target(*self._args, **self._kwargs)
    task = get()
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/Home/anaconda/lib/python2.7/multiprocessing/pool.py", line 102, in worker
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 360, in get
    task = get()
    task = get()
    task = get()
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 360, in get
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 360, in get
    racquire()
  File "/Users/Home/anaconda/lib/python2.7/site-packages/joblib/pool.py", line 362, in get
KeyboardInterrupt
    racquire()
    racquire()
    return recv()
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt

In [11]:
df = pd.read_csv(facility_path)

In [12]:
df['geography'].unique()

array(['USA-FL', 'USA-CA', 'USA-MI', 'USA-NJ', 'USA-PA', 'USA-NM',
       'USA-LA', 'USA-ID', 'USA-OR', 'USA-IA', 'USA-MS', 'USA-NY',
       'USA-HI', 'USA-UT', 'USA-WI', 'USA-OH', 'USA-IN', 'USA-NC',
       'USA-TN', 'USA-AL', 'USA-TX', 'USA-SC', 'USA-NH', 'USA-MA',
       'USA-VA', 'USA-KS', 'USA-MT', 'USA-MD', 'USA-ME', 'USA-WV',
       'USA-NV', 'USA-DE', 'USA-AZ', 'USA-MN', 'USA-CO', 'USA-AR',
       'USA-CT', 'USA-VT', 'USA-GA', 'USA-KY', 'USA-MO', 'USA-OK',
       'USA-IL', 'USA-NE', 'USA-AK', 'USA-ND', 'USA-WY', 'USA-RI',
       'USA-WA', 'USA-SD', 'USA-DC'], dtype=object)

In [13]:
df.loc[df['geography'] == 'USA-AL']

,f,fuel,month,plant id,total fuel (mmbtu),year,generation (MWh),elec fuel (mmbtu),geography,last_updated,lat,lon,prime mover,datetime,quarter,all fuel fossil CO2 (kg),elec fuel fossil CO2 (kg),all fuel total CO2 (kg),elec fuel total CO2 (kg)
9310,M,BLQ,3,10216,0.0,2017,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2017-03-01,1,0.0,0.0,0.0,0.0
9311,M,BLQ,2,10216,0.0,2017,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2017-02-01,1,0.0,0.0,0.0,0.0
9312,M,BLQ,1,10216,0.0,2017,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2017-01-01,1,0.0,0.0,0.0,0.0
9313,M,BLQ,12,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-12-01,4,0.0,0.0,0.0,0.0
9314,M,BLQ,11,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-11-01,4,0.0,0.0,0.0,0.0
9315,M,BLQ,10,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-10-01,4,0.0,0.0,0.0,0.0
9316,M,BLQ,9,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-09-01,3,0.0,0.0,0.0,0.0
9317,M,BLQ,8,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-08-01,3,0.0,0.0,0.0,0.0
9318,M,BLQ,7,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-07-01,3,0.0,0.0,0.0,0.0
9319,M,BLQ,6,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-06-01,2,0.0,0.0,0.0,0.0
9320,M,BLQ,5,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-05-01,2,0.0,0.0,0.0,0.0
9321,M,BLQ,4,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-04-01,2,0.0,0.0,0.0,0.0
9322,M,BLQ,3,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-03-01,1,0.0,0.0,0.0,0.0
9323,M,BLQ,2,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-02-01,1,0.0,0.0,0.0,0.0
9324,M,BLQ,1,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-01-01,1,0.0,0.0,0.0,0.0
9325,M,BLQ,12,10216,695607.0,2015,18301.435,114910.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-12-01,4,0.0,0.0,65665300.8,10847504.0
9326,M,BLQ,11,10216,877268.0,2015,22288.872,139946.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-11-01,4,0.0,0.0,82814099.2,13210902.4
9327,M,BLQ,10,10216,824964.0,2015,22787.853,143079.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-10-01,4,0.0,0.0,77876601.6,13506657.6
9328,M,BLQ,9,10216,830576.0,2015,21846.881,137171.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-09-01,3,0.0,0.0,78406374.4,12948942.4
9329,M,BLQ,8,10216,862211.0,2015,21917.067,137612.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-08-01,3,0.0,0.0,81392718.4,12990572.8
9330,M,BLQ,7,10216,928220.0,2015,22332.533,140220.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-07-01,3,0.0,0.0,87623968.0,13236768.0
9331,M,BLQ,6,10216,867790.0,2015,20217.148,126938.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-06-01,2,0.0,0.0,81919376.0,11982947.2
9332,M,BLQ,5,10216,605740.0,2015,14256.497,89513.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-05-01,2,0.0,0.0,57181856.0,8450027.2
9333,M,BLQ,4,10216,235216.0,2015,5463.329,34303.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-04-01,2,0.0,0.0,22204390.4,3238203.2
9334,M,BLQ,3,10216,882711.0,2015,22391.466,140590.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-03-01,1,0.0,0.0,83327918.4,13271696.0
9335,M,BLQ,2,10216,870630.0,2015,22672.794,142357.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-02-01,1,0.0,0.0,82187472.0,13438500.8
9336,M,BLQ,1,10216,861208.0,2015,21490.987,134937.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-01-01,1,0.0,0.0,81298035.2,12738052.8
9337,M,BLQ,12,10216,892156.0,2014,755.470,146227.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2014-12-01,4,0.0,0.0,84219526.4,13803828.8
9338,M,BLQ,11,10216,867024.0,2014,497.235,139554.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2014-11-01,4,0.0,0.0,81847065.6,13173897.6
9339,M,BLQ,10,10216,823814.0,2014,149.432,134890.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2014-10-01,4,0.0,0.0,77768041.6,12733616.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645921,M,SC,6,7,634218.0,2003,48352.000,634218.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-06-01,2,59172539.4,59172539.4,59172539.4,59172539.4
1645922,M,SC,5,7,589535.0,2003,44351.000,589535.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-05-01,2,55003615.5,55003615.5,55003615.5,55003615.5
1645923,M,SC,4,7,646876.0,2003,48281.000,646876.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-04-01,2,60353530.8,60353530.8,60353530.8,60353530.8
1645924,M,SC,3,7,775991.0,2003,59787.000,775991.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-03-01,1,72399960.3,72399960.3,72399960.3,72399960.3
1645925,M,SC,2,7,391964.0,2003,31335.000,391964.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-02-01,1,36570241.2,36570241.2,36570241.2,36570241.2
1645926,M,SC,1,7,790992.0,2003,59235.000,790992.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-01-01,1,73799553.6,73799553.6,73799553.6,73799553.6
1652361,NaN,OTH,12,54743,NaN,2006,152.809,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-12-01,4,0.0,0.0,0.0,0.0
1652362,NaN,OTH,11,54743,NaN,2006,95.592,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-11-01,4,0.0,0.0,0.0,0.0
1652363,NaN,OTH,10,54743,NaN,2006,144.114,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-10-01,4,0.0,0.0,0.0,0.0
1652364,NaN,OTH,9,54743,NaN,2006,142.804,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-09-01,3,0.0,0.0,0.0,0.0
1652365,NaN,OTH,8,54743,NaN,2006,172.511,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-08-01,3,0.0,0.0,0.0,0.0
1652366,NaN,OTH,7,54743,NaN,2006,155.207,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-07-01,3,0.0,0.0,0.0,0.0
1652367,NaN,OTH,6,54743,NaN,2006,154.032,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-06-01,2,0.0,0.0,0.0,0.0
1652368,NaN,OTH,5,54743,NaN,2006,113.163,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-05-01,2,0.0,0.0,0.0,0.0
1652369,NaN,OTH,4,54743,NaN,2006,140.208,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-04-01,2,0.0,0.0,0.0,0.0
1652370,NaN,OTH,3,54743,NaN,2006,170.070,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-03-01,1,0.0,0.0,0.0,0.0
1652371,NaN,OTH,2,54743,NaN,2006,145.155,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-02-01,1,0.0,0.0,0.0,0.0
1652372,NaN,OTH,1,54743,NaN,2006,161.334,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-01-01,1,0.0,0.0,0.0,0.0
1652373,NaN,OTH,12,54743,NaN,2005,165.472,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-12-01,4,0.0,0.0,0.0,0.0
1652374,NaN,OTH,11,54743,NaN,2005,174.016,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-11-01,4,0.0,0.0,0.0,0.0
1652375,NaN,OTH,10,54743,NaN,2005,148.495,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-10-01,4,0.0,0.0,0.0,0.0
1652376,NaN,OTH,9,54743,NaN,2005,177.841,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-09-01,3,0.0,0.0,0.0,0.0
1652377,NaN,OTH,8,54743,NaN,2005,205.329,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-08-01,3,0.0,0.0,0.0,0.0
1652378,NaN,OTH,7,54743,NaN,2005,212.551,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-07-01,3,0.0,0.0,0.0,0.0
1652379,NaN,OTH,6,54743,NaN,2005,179.642,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-06-01,2,0.0,0.0,0.0,0.0
1652380,NaN,OTH,5,54743,NaN,2005,187.547,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-05-01,2,0.0,0.0,0.0,0.0
1652381,NaN,OTH,4,54743,NaN,2005,177.314,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-04-01,2,0.0,0.0,0.0,0.0
1652382,NaN,OTH,3,54743,NaN,2005,195.077,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-03-01,1,0.0,0.0,0.0,0.0
1652383,NaN,OTH,2,54743,NaN,2005,160.081,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-02-01,1,0.0,0.0,0.0,0.0
1652384,NaN,OTH,1,54743,NaN,2005,159.634,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-01-01,1,0.0,0.0,0.0,0.0

In [14]:
def geo2state(row):
        'Take the last 2 characters of the geo code'
        state = row[-2:]
        return state

In [15]:
df['state'] = df.loc[:, 'geography'].map(geo2state)

In [17]:
df.loc[df['state'] == 'AL']

,f,fuel,month,plant id,total fuel (mmbtu),year,generation (MWh),elec fuel (mmbtu),geography,last_updated,lat,lon,prime mover,datetime,quarter,all fuel fossil CO2 (kg),elec fuel fossil CO2 (kg),all fuel total CO2 (kg),elec fuel total CO2 (kg),state
9310,M,BLQ,3,10216,0.0,2017,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2017-03-01,1,0.0,0.0,0.0,0.0,AL
9311,M,BLQ,2,10216,0.0,2017,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2017-02-01,1,0.0,0.0,0.0,0.0,AL
9312,M,BLQ,1,10216,0.0,2017,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2017-01-01,1,0.0,0.0,0.0,0.0,AL
9313,M,BLQ,12,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-12-01,4,0.0,0.0,0.0,0.0,AL
9314,M,BLQ,11,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-11-01,4,0.0,0.0,0.0,0.0,AL
9315,M,BLQ,10,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-10-01,4,0.0,0.0,0.0,0.0,AL
9316,M,BLQ,9,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-09-01,3,0.0,0.0,0.0,0.0,AL
9317,M,BLQ,8,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-08-01,3,0.0,0.0,0.0,0.0,AL
9318,M,BLQ,7,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-07-01,3,0.0,0.0,0.0,0.0,AL
9319,M,BLQ,6,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-06-01,2,0.0,0.0,0.0,0.0,AL
9320,M,BLQ,5,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-05-01,2,0.0,0.0,0.0,0.0,AL
9321,M,BLQ,4,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-04-01,2,0.0,0.0,0.0,0.0,AL
9322,M,BLQ,3,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-03-01,1,0.0,0.0,0.0,0.0,AL
9323,M,BLQ,2,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-02-01,1,0.0,0.0,0.0,0.0,AL
9324,M,BLQ,1,10216,0.0,2016,0.000,0.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2016-01-01,1,0.0,0.0,0.0,0.0,AL
9325,M,BLQ,12,10216,695607.0,2015,18301.435,114910.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-12-01,4,0.0,0.0,65665300.8,10847504.0,AL
9326,M,BLQ,11,10216,877268.0,2015,22288.872,139946.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-11-01,4,0.0,0.0,82814099.2,13210902.4,AL
9327,M,BLQ,10,10216,824964.0,2015,22787.853,143079.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-10-01,4,0.0,0.0,77876601.6,13506657.6,AL
9328,M,BLQ,9,10216,830576.0,2015,21846.881,137171.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-09-01,3,0.0,0.0,78406374.4,12948942.4,AL
9329,M,BLQ,8,10216,862211.0,2015,21917.067,137612.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-08-01,3,0.0,0.0,81392718.4,12990572.8,AL
9330,M,BLQ,7,10216,928220.0,2015,22332.533,140220.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-07-01,3,0.0,0.0,87623968.0,13236768.0,AL
9331,M,BLQ,6,10216,867790.0,2015,20217.148,126938.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-06-01,2,0.0,0.0,81919376.0,11982947.2,AL
9332,M,BLQ,5,10216,605740.0,2015,14256.497,89513.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-05-01,2,0.0,0.0,57181856.0,8450027.2,AL
9333,M,BLQ,4,10216,235216.0,2015,5463.329,34303.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-04-01,2,0.0,0.0,22204390.4,3238203.2,AL
9334,M,BLQ,3,10216,882711.0,2015,22391.466,140590.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-03-01,1,0.0,0.0,83327918.4,13271696.0,AL
9335,M,BLQ,2,10216,870630.0,2015,22672.794,142357.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-02-01,1,0.0,0.0,82187472.0,13438500.8,AL
9336,M,BLQ,1,10216,861208.0,2015,21490.987,134937.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2015-01-01,1,0.0,0.0,81298035.2,12738052.8,AL
9337,M,BLQ,12,10216,892156.0,2014,755.470,146227.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2014-12-01,4,0.0,0.0,84219526.4,13803828.8,AL
9338,M,BLQ,11,10216,867024.0,2014,497.235,139554.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2014-11-01,4,0.0,0.0,81847065.6,13173897.6,AL
9339,M,BLQ,10,10216,823814.0,2014,149.432,134890.0,USA-AL,2017-05-24T14:26:30-04:00,31.582500,-87.4889,ALL,2014-10-01,4,0.0,0.0,77768041.6,12733616.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1645921,M,SC,6,7,634218.0,2003,48352.000,634218.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-06-01,2,59172539.4,59172539.4,59172539.4,59172539.4,AL
1645922,M,SC,5,7,589535.0,2003,44351.000,589535.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-05-01,2,55003615.5,55003615.5,55003615.5,55003615.5,AL
1645923,M,SC,4,7,646876.0,2003,48281.000,646876.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-04-01,2,60353530.8,60353530.8,60353530.8,60353530.8,AL
1645924,M,SC,3,7,775991.0,2003,59787.000,775991.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-03-01,1,72399960.3,72399960.3,72399960.3,72399960.3,AL
1645925,M,SC,2,7,391964.0,2003,31335.000,391964.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-02-01,1,36570241.2,36570241.2,36570241.2,36570241.2,AL
1645926,M,SC,1,7,790992.0,2003,59235.000,790992.0,USA-AL,2016-07-07T17:18:42-04:00,34.012800,-85.9708,ALL,2003-01-01,1,73799553.6,73799553.6,73799553.6,73799553.6,AL
1652361,NaN,OTH,12,54743,NaN,2006,152.809,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-12-01,4,0.0,0.0,0.0,0.0,AL
1652362,NaN,OTH,11,54743,NaN,2006,95.592,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-11-01,4,0.0,0.0,0.0,0.0,AL
1652363,NaN,OTH,10,54743,NaN,2006,144.114,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-10-01,4,0.0,0.0,0.0,0.0,AL
1652364,NaN,OTH,9,54743,NaN,2006,142.804,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-09-01,3,0.0,0.0,0.0,0.0,AL
1652365,NaN,OTH,8,54743,NaN,2006,172.511,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-08-01,3,0.0,0.0,0.0,0.0,AL
1652366,NaN,OTH,7,54743,NaN,2006,155.207,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-07-01,3,0.0,0.0,0.0,0.0,AL
1652367,NaN,OTH,6,54743,NaN,2006,154.032,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-06-01,2,0.0,0.0,0.0,0.0,AL
1652368,NaN,OTH,5,54743,NaN,2006,113.163,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-05-01,2,0.0,0.0,0.0,0.0,AL
1652369,NaN,OTH,4,54743,NaN,2006,140.208,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-04-01,2,0.0,0.0,0.0,0.0,AL
1652370,NaN,OTH,3,54743,NaN,2006,170.070,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-03-01,1,0.0,0.0,0.0,0.0,AL
1652371,NaN,OTH,2,54743,NaN,2006,145.155,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-02-01,1,0.0,0.0,0.0,0.0,AL
1652372,NaN,OTH,1,54743,NaN,2006,161.334,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2006-01-01,1,0.0,0.0,0.0,0.0,AL
1652373,NaN,OTH,12,54743,NaN,2005,165.472,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-12-01,4,0.0,0.0,0.0,0.0,AL
1652374,NaN,OTH,11,54743,NaN,2005,174.016,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-11-01,4,0.0,0.0,0.0,0.0,AL
1652375,NaN,OTH,10,54743,NaN,2005,148.495,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-10-01,4,0.0,0.0,0.0,0.0,AL
1652376,NaN,OTH,9,54743,NaN,2005,177.841,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-09-01,3,0.0,0.0,0.0,0.0,AL
1652377,NaN,OTH,8,54743,NaN,2005,205.329,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-08-01,3,0.0,0.0,0.0,0.0,AL
1652378,NaN,OTH,7,54743,NaN,2005,212.551,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-07-01,3,0.0,0.0,0.0,0.0,AL
1652379,NaN,OTH,6,54743,NaN,2005,179.642,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-06-01,2,0.0,0.0,0.0,0.0,AL
1652380,NaN,OTH,5,54743,NaN,2005,187.547,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-05-01,2,0.0,0.0,0.0,0.0,AL
1652381,NaN,OTH,4,54743,NaN,2005,177.314,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-04-01,2,0.0,0.0,0.0,0.0,AL
1652382,NaN,OTH,3,54743,NaN,2005,195.077,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-03-01,1,0.0,0.0,0.0,0.0,AL
1652383,NaN,OTH,2,54743,NaN,2005,160.081,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-02-01,1,0.0,0.0,0.0,0.0,AL
1652384,NaN,OTH,1,54743,NaN,2005,159.634,NaN,USA-AL,2016-07-07T17:18:42-04:00,32.668889,-86.7200,ALL,2005-01-01,1,0.0,0.0,0.0,0.0,AL

In [18]:
type([1, 2])

list

In [19]:
list('AL')

['A', 'L']

In [20]:
'AL'.split()

['AL']