In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from os import listdir
from os.path import isfile, join
import glob
import numpy as np

Get paths of all monthly index and generation files

In [2]:
path = os.path.join('Data storage', 'final state data', 'Monthly index*')
mi_fns = glob.glob(path)

In [3]:
path = os.path.join('Data storage', 'final state data', 'Monthly gen*')
mg_fns = glob.glob(path)

Combine all state monthly index files into a single dataframe

In [4]:
df_list = []
for f in mi_fns:
    state = f.split('.')[0][-2:]
    df = pd.read_csv(f)
    df['State'] = state
    df_list.append(df)
full_mi = pd.concat(df_list)
full_mi.reset_index(inplace=True, drop=True)
full_mi.rename(columns={'index (g/kWh)': 'monthly index (g/kWh)'}, inplace=True)
full_mi['datetime'] = pd.to_datetime(full_mi['datetime'])

In [5]:
full_mi.head()

,year,month,generation (MWh),final CO2 (kg),datetime,quarter,monthly index (g/kWh),change since 2005,index (lb/MWh),State
0,2001,1,590145.0,3.542602e+08,2001-01-01,1,600.293443,0.117946,1323.406924,AK
1,2001,2,546167.0,3.615468e+08,2001-02-01,1,661.971217,0.232810,1459.381744,AK
2,2001,3,587115.0,3.902535e+08,2001-03-01,1,664.696930,0.237886,1465.390852,AK
3,2001,4,488698.0,3.030298e+08,2001-04-01,2,620.075841,0.154787,1367.019200,AK
4,2001,5,484687.0,3.004285e+08,2001-05-01,2,619.840221,0.154348,1366.499750,AK

Combine all state monthly generation files into a single dataframe

In [21]:
df_list = []
for f in mg_fns:
    state = f.split('.')[0][-2:]
    df = pd.read_csv(f)
    df['State'] = state
    df_list.append(df)
full_mg = pd.concat(df_list)
full_mg.reset_index(inplace=True, drop=True)
full_mg['datetime'] = pd.to_datetime(full_mg['datetime'])

monthly_gen = pd.pivot_table(full_mg, index=['State', 'datetime'], 
                             values='generation (MWh)', columns='fuel category')
monthly_gen.reset_index(inplace=True, drop=False)
monthly_gen['Year'] = monthly_gen['datetime'].dt.year
monthly_gen.replace(np.nan, 0, inplace=True)

In [32]:
monthly_gen_tidy = pd.melt(monthly_gen, id_vars=['State', 'datetime', 'Year'],
                           value_name='Generation')

In [22]:
monthly_gen.head()

fuel category,State,datetime,Coal,Natural Gas,Nuclear,Other,Renewables,Year
0,AK,2001-01-01,46903.0,367521.0,0.0,71085.0,104636.0,2001
1,AK,2001-02-01,54056.0,334016.0,0.0,67910.0,90185.0,2001
2,AK,2001-03-01,51920.0,343858.0,0.0,91413.0,99924.0,2001
3,AK,2001-04-01,37590.0,290050.0,0.0,76372.0,84686.0,2001
4,AK,2001-05-01,40986.0,283468.0,0.0,75034.0,85199.0,2001

Merge the two dataframes to combine generation and index data

In [23]:
gen_index = pd.merge(monthly_gen, full_mi[['datetime', 'State', 'monthly index (g/kWh)']], 
                     on=['datetime', 'State'])
gen_index.head()

,State,datetime,Coal,Natural Gas,Nuclear,Other,Renewables,Year,monthly index (g/kWh)
0,AK,2001-01-01,46903.0,367521.0,0.0,71085.0,104636.0,2001,600.293443
1,AK,2001-02-01,54056.0,334016.0,0.0,67910.0,90185.0,2001,661.971217
2,AK,2001-03-01,51920.0,343858.0,0.0,91413.0,99924.0,2001,664.696930
3,AK,2001-04-01,37590.0,290050.0,0.0,76372.0,84686.0,2001,620.075841
4,AK,2001-05-01,40986.0,283468.0,0.0,75034.0,85199.0,2001,619.840221

Calculate variability as the rolling standard deviation of monthly values. Also calculate a normalized value, which divides the rolling standard deviation by the rolling average.

In [24]:
for state in gen_index['State'].unique():
    gen_index.loc[gen_index['State'] == state, 'Index variability'] = \
        gen_index.loc[gen_index['State']==state, 
                       'monthly index (g/kWh)'].rolling(window=12).std()
    
    gen_index.loc[gen_index['State'] == state, 
                   'Normalized Index variability'] = \
         gen_index.loc[gen_index['State']==state, 'Index variability'] / \
         gen_index.loc[gen_index['State']==state, 
                       'monthly index (g/kWh)'].rolling(window=12).mean()
gen_index.tail()

,State,datetime,Coal,Natural Gas,Nuclear,Other,Renewables,Year,monthly index (g/kWh),Index variability,Normalized Index variability
9745,WY,2016-11-01,3136243.00,61286.95,0.0,40986.67,414531.36,2016,916.315369,17.668906,0.019208
9746,WY,2016-12-01,3952815.25,64950.50,0.0,38877.40,583667.43,2016,891.854330,19.201913,0.020905
9747,WY,2017-01-01,3875156.57,72746.85,0.0,45655.70,358419.99,2017,956.145267,22.000973,0.023889
9748,WY,2017-02-01,3140221.06,55896.80,0.0,42111.49,409344.56,2017,925.869631,21.677007,0.023501
9749,WY,2017-03-01,2970256.83,60934.81,0.0,41061.12,502269.26,2017,912.486445,21.853026,0.023716

Add in the percent of generation from each fuel type, and the change in generation from that fuel type since the average in 2001. Maybe change from 2001 to a different year?

In [25]:
base_year = 2005

In [27]:
fuels = ['Coal', 'Natural Gas', 'Renewables', 'Nuclear', 'Other']
gen_index['Total gen'] = gen_index.loc[:, fuels].sum(axis=1)
for fuel in fuels:
    # New columns that are being added
    col_percent = 'percent ' + fuel
    col_change = 'change in ' + fuel

    # Calculate percent of generation from each fuel type
    gen_index[col_percent] = gen_index.loc[:, fuel] / gen_index.loc[:, 'Total gen']

    # Percent of fuel in state in base year (entire year)
    for state in gen_index['State'].unique():
        percent_fuel_base = gen_index.loc[(gen_index['Year'] == base_year) & 
                                          (gen_index['State'] == state), fuel].sum() / gen_index.loc[(gen_index['Year'] == 2001) & 
                                                                                                     (gen_index['State'] == state), 'Total gen'].sum()

        # Use percent of fuel in 2001 to calculate change for each state/month
        gen_index.loc[gen_index['State'] == state, 
                      col_change] = (gen_index.loc[gen_index['State'] == state, col_percent] - percent_fuel_base) / percent_fuel_base
    
# Change in variability compared to average base year value
for state in gen_index['State'].unique():
    norm_variability_base = gen_index.loc[(gen_index['Year'] == base_year) & 
                                  (gen_index['State'] == state), 'Normalized Index variability'].mean()
    variability_base = gen_index.loc[(gen_index['Year'] == base_year) & 
                                  (gen_index['State'] == state), 'Index variability'].mean()
    
    gen_index.loc[gen_index['State'] == state, 
                  'change in variability'] = (gen_index.loc[gen_index['State'] == state, 
                                                            'Index variability'] - variability_base) / variability_base
    
    gen_index.loc[gen_index['State'] == state, 
                  'change in norm variability'] = (gen_index.loc[gen_index['State'] == state, 
                                                            'Normalized Index variability'] - norm_variability_base) / norm_variability_base

In [28]:
gen_index.loc[(gen_index['State'] == 'TX') &
              (gen_index['Year'].isin([2001, 2016]))]

,State,datetime,Coal,Natural Gas,Nuclear,Other,Renewables,Year,monthly index (g/kWh),Index variability,...,percent Natural Gas,change in Natural Gas,percent Renewables,change in Renewables,percent Nuclear,change in Nuclear,percent Other,change in Other,change in variability,change in norm variability
8190,TX,2001-01-01,11683911.00,13750546.00,3545310.0,1707467.21,314045.80,2001,638.408119,NaN,...,0.443548,-0.163955,0.010130,-0.433987,0.114360,0.114452,0.055077,2.572064,NaN,NaN
8191,TX,2001-02-01,10236786.00,11507834.00,3037626.0,510769.63,333505.37,2001,639.497007,NaN,...,0.449060,-0.153566,0.013014,-0.272847,0.118534,0.155132,0.019931,0.292653,NaN,NaN
8192,TX,2001-03-01,11004470.00,13316335.00,2462837.0,447733.81,348963.19,2001,654.137303,NaN,...,0.482820,-0.089931,0.012653,-0.293043,0.089297,-0.129792,0.016234,0.052851,NaN,NaN
8193,TX,2001-04-01,9767225.00,14402417.00,2668816.0,331369.06,316487.94,2001,633.521538,NaN,...,0.523985,-0.012339,0.011514,-0.356641,0.097096,-0.053787,0.012056,-0.218117,NaN,NaN
8194,TX,2001-05-01,11449397.00,16025878.00,3419870.0,383202.65,305111.35,2001,638.333358,NaN,...,0.507414,-0.043574,0.009660,-0.460227,0.108280,0.055205,0.012133,-0.213108,NaN,NaN
8195,TX,2001-06-01,12312672.00,18320416.00,3405594.0,325916.94,254907.06,2001,636.481360,NaN,...,0.529193,-0.002521,0.007363,-0.588591,0.098372,-0.041353,0.009414,-0.389434,NaN,NaN
8196,TX,2001-07-01,13218435.00,22605566.00,3460095.0,389539.85,266200.15,2001,636.275773,NaN,...,0.565990,0.066838,0.006665,-0.627596,0.086633,-0.155755,0.009753,-0.367454,NaN,NaN
8197,TX,2001-08-01,12779997.00,22805027.00,3174506.0,391315.96,225748.04,2001,643.489399,NaN,...,0.579152,0.091646,0.005733,-0.679669,0.080619,-0.214358,0.009938,-0.355481,NaN,NaN
8198,TX,2001-09-01,11579150.00,16887867.00,3383498.0,388012.70,233449.30,2001,629.141386,NaN,...,0.520075,-0.019708,0.007189,-0.598305,0.104197,0.015416,0.011949,-0.225032,NaN,NaN
8199,TX,2001-10-01,9736388.00,15188595.00,2615902.0,278253.48,264496.52,2001,625.683145,NaN,...,0.540834,0.019421,0.009418,-0.473765,0.093147,-0.092273,0.009908,-0.357410,NaN,NaN
8200,TX,2001-11-01,9897054.00,12587135.00,3435732.0,315388.88,217816.12,2001,622.307288,NaN,...,0.475828,-0.103110,0.008234,-0.539928,0.129880,0.265695,0.011923,-0.226757,NaN,NaN
8201,TX,2001-12-01,11434436.00,12713366.00,3553077.0,355989.89,300548.11,2001,650.647580,9.290107,...,0.448326,-0.154949,0.010599,-0.407811,0.125296,0.221026,0.012554,-0.185826,-0.153763,-0.194706
8370,TX,2016-01-01,8524003.40,18509972.84,3686813.0,287620.47,4844080.36,2016,456.262989,34.564383,...,0.516281,-0.026859,0.135111,6.549267,0.102833,0.002118,0.008022,-0.479708,2.148475,2.865604
8371,TX,2016-02-01,6203006.21,16199604.34,3555093.0,244127.59,5484928.25,2016,412.065274,41.924015,...,0.511242,-0.036358,0.173098,8.671769,0.112195,0.093352,0.007704,-0.500327,2.818865,3.748370
8372,TX,2016-03-01,4502544.36,18238084.82,3772477.0,308959.83,5969288.26,2016,378.013814,52.418229,...,0.556186,0.048357,0.182038,9.171289,0.115045,0.121125,0.009422,-0.388933,3.774785,5.026296
8373,TX,2016-04-01,6334218.42,17329140.77,3650088.0,267456.78,5073334.55,2016,420.810916,54.988868,...,0.530686,0.000292,0.155365,7.680939,0.111780,0.089308,0.008191,-0.468797,4.008944,5.365731
8374,TX,2016-05-01,8879690.36,19388050.99,2697161.0,264073.75,5462997.73,2016,474.355261,54.875839,...,0.528400,-0.004016,0.148888,7.319031,0.073508,-0.283654,0.007197,-0.533233,3.998649,5.368421
8375,TX,2016-06-01,12958677.78,21674062.04,3587020.0,310067.47,4170226.94,2016,529.478972,53.887201,...,0.507589,-0.043244,0.097663,4.456875,0.084005,-0.181361,0.007262,-0.529051,3.908594,5.264704
8376,TX,2016-07-01,13905699.53,24209150.72,3710475.0,325448.30,6005005.92,2016,512.812692,52.151319,...,0.502726,-0.052410,0.124700,5.967513,0.077051,-0.249124,0.006758,-0.561691,3.750472,5.085018
8377,TX,2016-08-01,13407984.09,24874101.01,3709005.0,333173.24,4071416.36,2016,527.248017,50.717245,...,0.536130,0.010553,0.087754,3.903213,0.079943,-0.220947,0.007181,-0.534265,3.619842,4.931581
8378,TX,2016-09-01,12746147.00,21032863.57,3603800.0,326708.87,4236979.65,2016,526.341820,50.798996,...,0.501421,-0.054869,0.101009,4.643824,0.085914,-0.162756,0.007789,-0.494860,3.627288,4.940248
8379,TX,2016-10-01,12028749.28,16670554.23,3001813.0,247860.77,5709853.56,2016,504.710786,50.402069,...,0.442673,-0.165604,0.151621,7.471707,0.079711,-0.223210,0.006582,-0.573138,3.591132,4.900287
8380,TX,2016-11-01,9213604.68,15214278.10,3303572.0,300195.64,4799465.08,2016,475.228604,50.409629,...,0.463410,-0.126516,0.146186,7.168080,0.100623,-0.019415,0.009144,-0.406986,3.591821,4.899299
8381,TX,2016-12-01,12526607.28,14213725.87,3802128.0,283236.86,5625523.60,2016,503.696843,50.531803,...,0.389938,-0.265004,0.154330,7.623104,0.104307,0.016486,0.007770,-0.496054,3.602950,4.855554

In [29]:
id_vars=['Coal', 'Natural Gas', 'Nuclear', 'Other', 'Renewables']

pd.melt(gen_index, id_vars=['State', 'datetime', 'Year'])

,Coal,Natural Gas,Nuclear,Other,Renewables,variable,value
0,46903.00,367521.00,0.0,71085.00,104636.00,State,AK
1,54056.00,334016.00,0.0,67910.00,90185.00,State,AK
2,51920.00,343858.00,0.0,91413.00,99924.00,State,AK
3,37590.00,290050.00,0.0,76372.00,84686.00,State,AK
4,40986.00,283468.00,0.0,75034.00,85199.00,State,AK
5,39411.00,272074.00,0.0,58095.00,118424.00,State,AK
6,55082.00,314583.00,0.0,63515.00,120745.00,State,AK
7,65143.00,331115.00,0.0,67181.00,123357.00,State,AK
8,58910.00,355210.00,0.0,71144.00,154902.00,State,AK
9,38751.00,314444.00,0.0,91507.00,135001.00,State,AK
10,37497.00,325654.00,0.0,98718.00,102567.00,State,AK
11,38344.00,363575.00,0.0,105016.00,126989.00,State,AK
12,51623.00,366390.00,0.0,108569.00,120036.00,State,AK
13,44698.00,296649.00,0.0,96178.00,112607.00,State,AK
14,48946.00,322785.00,0.0,98049.00,115828.00,State,AK
15,43484.00,313978.00,0.0,69661.00,112261.00,State,AK
16,48711.00,301216.00,0.0,71159.00,109507.00,State,AK
17,35819.00,271101.00,0.0,99827.00,117578.00,State,AK
18,44648.00,300814.00,0.0,65804.00,120048.00,State,AK
19,46430.00,277915.00,0.0,65450.00,117507.00,State,AK
20,52500.00,307926.00,0.0,69469.00,110063.00,State,AK
21,54482.00,326514.00,0.0,74921.00,122589.00,State,AK
22,49368.00,317644.00,0.0,67540.00,149951.00,State,AK
23,54577.00,375229.00,0.0,75742.00,143531.00,State,AK
24,54048.00,343856.00,0.0,75785.00,135719.00,State,AK
25,48861.00,298754.00,0.0,66090.00,126172.00,State,AK
26,52134.00,297698.00,0.0,59334.00,148520.00,State,AK
27,43262.00,266724.00,0.0,60237.00,119502.00,State,AK
28,46952.00,256808.00,0.0,59373.00,116628.00,State,AK
29,35864.00,259973.00,0.0,57786.00,104039.00,State,AK
...,...,...,...,...,...,...,...
185220,3568932.61,43340.57,0.0,36543.37,393620.63,change in norm variability,0.62088
185221,3536949.79,68145.86,0.0,40657.87,526898.53,change in norm variability,0.673652
185222,3792973.82,60932.06,0.0,42726.57,459081.69,change in norm variability,0.656335
185223,3840661.86,52539.37,0.0,44487.00,470632.21,change in norm variability,0.549872
185224,3279590.07,45137.82,0.0,40722.88,421482.21,change in norm variability,0.533625
185225,3716749.37,53621.91,0.0,43278.03,397481.62,change in norm variability,0.404729
185226,3373815.44,51261.65,0.0,40353.14,370749.50,change in norm variability,0.127235
185227,3231199.71,45088.84,0.0,35439.81,351024.58,change in norm variability,0.115148
185228,3611756.33,64034.23,0.0,40700.11,273527.12,change in norm variability,0.1684
185229,3974383.07,73520.68,0.0,48533.61,340756.55,change in norm variability,0.342709
185230,4125389.87,70851.22,0.0,42802.35,326961.18,change in norm variability,0.537247
185231,3384832.18,65878.36,0.0,45428.16,342317.66,change in norm variability,0.517262
185232,3521859.23,68231.74,0.0,48541.18,309843.54,change in norm variability,0.635231
185233,3471052.28,68985.16,0.0,49223.47,481923.53,change in norm variability,0.367991
185234,3559899.89,63153.38,0.0,48546.76,540679.06,change in norm variability,0.433581
185235,3856276.96,63861.35,0.0,40745.83,533433.50,change in norm variability,0.402877
185236,3282399.35,61950.92,0.0,39018.04,584399.79,change in norm variability,0.431504
185237,2807060.34,64228.74,0.0,39074.94,474223.90,change in norm variability,0.422209
185238,2255976.30,72366.54,0.0,42604.37,375683.34,change in norm variability,0.419395
185239,2453952.95,71132.25,0.0,44754.02,431772.03,change in norm variability,0.580375
185240,3289440.38,62335.04,0.0,32247.31,410626.51,change in norm variability,0.561748
185241,4074552.67,53768.06,0.0,8036.03,427442.37,change in norm variability,0.466354
185242,4128284.99,66072.68,0.0,11163.11,338962.54,change in norm variability,0.262656
185243,3359863.47,53202.08,0.0,26390.22,337436.93,change in norm variability,0.232355
185244,3172874.79,62869.38,0.0,39505.88,452333.65,change in norm variability,0.104672
185245,3136243.00,61286.95,0.0,40986.67,414531.36,change in norm variability,0.105656
185246,3952815.25,64950.50,0.0,38877.40,583667.43,change in norm variability,0.20334
185247,3875156.57,72746.85,0.0,45655.70,358419.99,change in norm variability,0.375142
185248,3140221.06,55896.80,0.0,42111.49,409344.56,change in norm variability,0.35277
185249,2970256.83,60934.81,0.0,41061.12,502269.26,change in norm variability,0.365187

Plot the change in variability since 2005 against the change in each fuel type

In [ ]:
g = sns.FacetGrid(gen_index, hue='State')
g.map()