# Combine national and NERC data
Take the various file (EIA facilities, EIA state-level totals, EPA emissions, etc) and combine them to determine total generation, CO₂ emissions, etc nationally and at NERC regions.

In [2]:
import pandas as pd
import numpy as np
import os
from os.path import join
import sys
import json

idx = pd.IndexSlice
cwd = os.getcwd()
data_path = join(cwd, '..', 'Data storage')

In [3]:
%load_ext watermark
%watermark -iv -v

json        2.0.9
yapf        0.16.3
pandas      0.20.2
numpy       1.13.1
CPython 3.6.2
IPython 6.2.1

In [4]:
# Load the "autoreload" extension
%load_ext autoreload

# always reload modules marked with "%aimport"
%autoreload 1

In [5]:
# add the 'src' directory as one where we can import modules
src_dir = join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)

In [6]:
%aimport Data.make_data
from Data.make_data import states_in_nerc
%aimport Analysis.index
from Analysis.index import facility_emission_gen, group_facility_data
%aimport Analysis.index
from Analysis.index import facility_co2, adjust_epa_emissions, group_fuel_cats
%aimport util.utils
from util.utils import rename_cols, add_facility_location

## Load data

In [7]:
cwd = os.getcwd()
path = join(data_path, 'Facility gen fuels and CO2 2017-08-31.zip')
eia_fac = pd.read_csv(path)

In [8]:
rename_cols(eia_fac)

In [9]:
eia_fac.head()

,f,fuel,month,plant id,total fuel (mmbtu),year,generation (mwh),elec fuel (mmbtu),geography,last_updated,lat,lon,prime mover,datetime,quarter,all fuel fossil co2 (kg),elec fuel fossil co2 (kg),all fuel total co2 (kg),elec fuel total co2 (kg)
0,M,SUB,6,10360,0.0,2017,0.0,0.0,USA-WI,2017-08-24T11:46:12-04:00,44.4936,-88.0303,ALL,2017-06-01,2,0.0,0.0,0.0,0.0
1,M,SUB,5,10360,0.0,2017,0.0,0.0,USA-WI,2017-08-24T11:46:12-04:00,44.4936,-88.0303,ALL,2017-05-01,2,0.0,0.0,0.0,0.0
2,M,SUB,4,10360,0.0,2017,0.0,0.0,USA-WI,2017-08-24T11:46:12-04:00,44.4936,-88.0303,ALL,2017-04-01,2,0.0,0.0,0.0,0.0
3,M,SUB,3,10360,0.0,2017,0.0,0.0,USA-WI,2017-08-24T11:46:12-04:00,44.4936,-88.0303,ALL,2017-03-01,1,0.0,0.0,0.0,0.0
4,M,SUB,2,10360,0.0,2017,0.0,0.0,USA-WI,2017-08-24T11:46:12-04:00,44.4936,-88.0303,ALL,2017-02-01,1,0.0,0.0,0.0,0.0

In [10]:
path = join(data_path, 'Derived data',
            'Monthly EPA emissions 2017-08-31.csv')
epa = pd.read_csv(path)

## Adjusted facility emissions and generation
I have both the state and custom fuel categories here, but am only using the state fuel categories for now.

In [11]:
fuel_cat_folder = join(data_path, 'Fuel categories')
state_cats_path = join(fuel_cat_folder, 'State_facility.json')

with open(state_cats_path, 'r') as f:
    state_fuel_cat = json.load(f)
    
custom_cats_path = join(fuel_cat_folder, 'Custom_results.json')
with open(custom_cats_path, 'r') as f:
    custom_fuel_cat = json.load(f)

In [113]:
co2, gen_fuels_custom = facility_emission_gen(eia_facility=eia_fac, epa=epa,
                                              state_fuel_cat=state_fuel_cat,
                                              custom_fuel_cat=custom_fuel_cat,
                                              export_state_cats=False)

Renaming columns
Grouping facilities
Adjusting EPA emissions
Caculating CO2
Gen/fuels to state categories
Gen/fuels to custom categories

In [12]:
co2, gen_fuels_state = facility_emission_gen(eia_facility=eia_fac, epa=epa,
                                              state_fuel_cat=state_fuel_cat,
                                              custom_fuel_cat=custom_fuel_cat,
                                              export_state_cats=True)

Renaming columns
Grouping facilities
Adjusting EPA emissions
Caculating CO2
Gen/fuels to state categories

In [13]:
co2.head()

   year  month  plant id  final co2 (kg)
0  2001      1         2    0.000000e+00
1  2001      1         3    9.625411e+08
2  2001      1         4    0.000000e+00
3  2001      1         7    6.700092e+07
4  2001      1         8    7.530204e+08

In [14]:
gen_fuels_state.head()

,type,year,month,plant id,total fuel (mmbtu),generation (mwh),elec fuel (mmbtu),lat,lon,quarter,all fuel fossil co2 (kg),elec fuel fossil co2 (kg),all fuel total co2 (kg),elec fuel total co2 (kg)
0,COW,2001,1,3,8275496.0,852306.0,8275496.0,31.006900,-88.010300,1,772103776.8,772103776.8,772103776.8,772103776.8
1,COW,2001,1,7,587162.0,45991.0,587162.0,34.012800,-85.970800,1,54782214.6,54782214.6,54782214.6,54782214.6
2,COW,2001,1,8,6910786.0,706857.0,6910786.0,33.644344,-87.196486,1,644776333.8,644776333.8,644776333.8,644776333.8
3,COW,2001,1,10,3108892.0,320454.0,3108892.0,32.601700,-87.781100,1,290059623.6,290059623.6,290059623.6,290059623.6
4,COW,2001,1,26,9745127.0,1005460.0,9745127.0,33.244211,-86.458056,1,909220349.1,909220349.1,909220349.1,909220349.1

### Check generation and fuel consumption totals

Interesting - there is some small part of generation that I'm losing along the way. It's 5 orders of magnitude smaller than the total though.

In [15]:
eia_fac['generation (mwh)'].sum()

65594379743.764412

In [16]:
gen_fuels_state['generation (mwh)'].sum()

65594327524.764351

Fuel consumption is pretty identical though

In [17]:
eia_fac['total fuel (mmbtu)'].sum(), eia_fac['elec fuel (mmbtu)'].sum()

(686393145435.78979, 645653921528.08057)

In [18]:
gen_fuels_state['total fuel (mmbtu)'].sum(), gen_fuels_state['elec fuel (mmbtu)'].sum()

(686393145435.78979, 645653921528.0802)

## Extra gen/fuels from non-reporting

In [19]:
%aimport Analysis.index
from Analysis.index import extra_emissions_gen

Total EIA generation/fuel consumption and emission factors

In [20]:
cwd = os.getcwd()
path = join(data_path,
            'EIA country-wide gen fuel CO2 2017-08-31.csv')
eia_total = pd.read_csv(path)

path = join(data_path,
            'Final emission factors.csv')
ef = pd.read_csv(path, index_col=0)

In [21]:
eia_total.head()

,end,f,geography,last_updated,sector,series_id,start,type,units,year,month,generation (MWh),datetime,quarter,total fuel (mmbtu),elec fuel (mmbtu),all fuel CO2 (kg),elec fuel CO2 (kg)
0,201706,M,USA,2017-08-24T11:46:12-04:00,99,ELEC.GEN.DPV-US-99.M,201401,DPV,thousand megawatthours,2017,6,2524250.11,2017-06-01,2,NaN,NaN,0.0,0.0
1,201706,M,USA,2017-08-24T11:46:12-04:00,99,ELEC.GEN.DPV-US-99.M,201401,DPV,thousand megawatthours,2017,5,2479480.14,2017-05-01,2,NaN,NaN,0.0,0.0
2,201706,M,USA,2017-08-24T11:46:12-04:00,99,ELEC.GEN.DPV-US-99.M,201401,DPV,thousand megawatthours,2017,4,2267811.28,2017-04-01,2,NaN,NaN,0.0,0.0
3,201706,M,USA,2017-08-24T11:46:12-04:00,99,ELEC.GEN.DPV-US-99.M,201401,DPV,thousand megawatthours,2017,3,2054274.30,2017-03-01,1,NaN,NaN,0.0,0.0
4,201706,M,USA,2017-08-24T11:46:12-04:00,99,ELEC.GEN.DPV-US-99.M,201401,DPV,thousand megawatthours,2017,2,1449156.85,2017-02-01,1,NaN,NaN,0.0,0.0

### Calculate CO₂, generation, and fuel consumption that is not captured by facilities

In [22]:
extra_co2, extra_gen_fuel = extra_emissions_gen(gen_fuels_state, eia_total, ef)

Results match what I have previously found in the notebooks up on GitHub (Emissions Index repo)

In [23]:
extra_gen_fuel.head()

                 total fuel (mmbtu)  generation (mwh)  elec fuel (mmbtu)
type year month
COW  2001 1              16918390.0       1011665.061         13157576.0
          2              14968346.0        911346.865         11574491.0
          3              18321543.0       1153328.913         14765162.0
          4              13530117.0        776341.623         10374008.0
          5              14014024.0        801266.923         10920463.0

In [24]:
extra_gen_fuel.loc[idx['WND',:,:]]

                 total fuel (mmbtu)  generation (mwh)  elec fuel (mmbtu)
type year month
WND  2001 1           -3.446894e+06      5.566881e+04      -3.446894e+06
          2           -3.288177e+06      1.130211e+05      -3.288177e+06
          3           -4.798975e+06      6.768812e+04      -4.798975e+06
          4           -6.166244e+06      8.794247e+04      -6.166244e+06
          5           -5.694490e+06      8.393153e+04      -5.694490e+06
          6           -6.120034e+06      7.735354e+04      -6.120034e+06
          7           -5.827621e+06      7.101049e+04      -5.827621e+06
          8           -5.409429e+06      5.369600e+04      -5.409429e+06
          9           -4.550627e+06      4.983153e+04      -4.550627e+06
          10          -5.668965e+06      5.820182e+04      -5.668965e+06
          11          -4.551249e+06      2.999030e+04      -4.551249e+06
          12          -6.077985e+06      2.744590e+04      -6.077985e+06
     2002 1           -8.237968e+06      1.614509e+03      -8.237968e+06
          2           -7.247621e+06      1.495079e+03      -7.247621e+06
          3           -8.650071e+06      1.805048e+03      -8.650071e+06
          4           -1.040601e+07      1.512223e+03      -1.040601e+07
          5           -1.094733e+07      1.524876e+03      -1.094733e+07
          6           -1.143913e+07      1.855552e+03      -1.143913e+07
          7           -9.036664e+06      2.156177e+03      -9.036664e+06
          8           -9.914911e+06      2.061015e+03      -9.914911e+06
          9           -7.466379e+06      1.887244e+03      -7.466379e+06
          10          -7.453861e+06      1.644759e+03      -7.453861e+06
          11          -6.657461e+06      1.521470e+03      -6.657461e+06
          12          -7.665064e+06      1.722605e+03      -7.665064e+06
     2003 1           -6.475789e+06      4.380000e-01      -6.475789e+06
          2           -7.633388e+06     -2.490000e-01      -7.633388e+06
          3           -1.061074e+07     -2.510000e-01      -1.061074e+07
          4           -1.119102e+07     -2.110000e-01      -1.119102e+07
          5           -1.030637e+07     -2.610000e-01      -1.030637e+07
          6           -1.072381e+07     -3.660000e-01      -1.072381e+07
...                             ...               ...                ...
     2015 1           -1.412664e+08      3.183256e+03      -1.412664e+08
          2           -1.390198e+08      3.654121e+03      -1.390198e+08
          3           -1.426223e+08      3.460416e+03      -1.426223e+08
          4           -1.664585e+08      4.872189e+03      -1.664585e+08
          5           -1.597837e+08      5.320185e+03      -1.597837e+08
          6           -1.250309e+08      4.493551e+03      -1.250309e+08
          7           -1.273987e+08      4.591517e+03      -1.273987e+08
          8           -1.218547e+08      4.083333e+03      -1.218547e+08
          9           -1.299189e+08      3.027033e+04      -1.299189e+08
          10          -1.526123e+08      3.567217e+03      -1.526123e+08
          11          -1.833724e+08      4.449315e+03      -1.833724e+08
          12          -1.872415e+08      5.930371e+03      -1.872415e+08
     2016 1           -1.666799e+08      6.453995e+05      -1.666799e+08
          2           -1.818505e+08      6.895701e+05      -1.818505e+08
          3           -1.977699e+08      7.570480e+05      -1.977699e+08
          4           -1.865983e+08      7.213771e+05      -1.865983e+08
          5           -1.691026e+08      6.494653e+05      -1.691026e+08
          6           -1.467114e+08      5.751191e+05      -1.467114e+08
          7           -1.585294e+08      5.831914e+05      -1.585294e+08
          8           -1.221785e+08      4.499372e+05      -1.221785e+08
          9           -1.480642e+08      5.419517e+05      -1.480642e+08
          10          -1.837908e+08      6.582283e+05      -1.837908e+08
          11          -1.742991e+08      6.386100e+05      -1.742991e+08
          12          -2.071401e+08      7.633100e+05      -2.071401e+08
     2017 1           -7.041335e+07      1.279371e+07      -7.041335e+07
          2           -7.386208e+07      1.376567e+07      -7.386208e+07
          3           -8.856883e+07      1.609479e+07      -8.856883e+07
          4           -8.732283e+07      1.603268e+07      -8.732283e+07
          5           -7.888592e+07      1.386133e+07      -7.888592e+07
          6           -6.808474e+07      1.212293e+07      -6.808474e+07

[198 rows x 3 columns]

## Total CO₂ (national)
Combine adjusted CO₂ at facilities and CO₂ from fuel consumption that is not captured by facility data.

In [25]:
facility_co2 = co2.groupby(['year', 'month']).sum()

In [26]:
facility_co2.tail()

            plant id  final co2 (kg)
year month
2017 2      57482310    1.165442e+11
     3      58485598    1.237187e+11
     4      58955690    1.133454e+11
     5      59223601    1.292581e+11
     6      59451819    1.512113e+11

In [27]:
extra_co2.loc[idx['NG', :, :],:].tail(n=11)

                 all fuel co2 (kg)  elec fuel co2 (kg)
type year month
NG   2016 8           6.022574e+09        4.039321e+09
          9           4.917984e+09        3.118869e+09
          10          4.312456e+09        2.624005e+09
          11          4.231444e+09        2.458983e+09
          12          4.418713e+09        2.530048e+09
     2017 1           7.823823e+09        6.101011e+09
          2           6.601814e+09        5.030973e+09
          3           8.630216e+09        6.986014e+09
          4           7.823192e+09        6.280070e+09
          5           8.749634e+09        7.244919e+09
          6           1.000377e+10        8.465898e+09

In [28]:
national_co2 = (facility_co2.loc[:, 'final co2 (kg)']
                + extra_co2.loc[:, 'elec fuel co2 (kg)'].groupby(['year', 'month']).sum())

## National Index and gen by fuels

In [29]:
extra_gen_fuel.head()

                 total fuel (mmbtu)  generation (mwh)  elec fuel (mmbtu)
type year month
COW  2001 1              16918390.0       1011665.061         13157576.0
          2              14968346.0        911346.865         11574491.0
          3              18321543.0       1153328.913         14765162.0
          4              13530117.0        776341.623         10374008.0
          5              14014024.0        801266.923         10920463.0

In [30]:
gen_fuels_state.groupby(['year', 'month']).sum().tail()

            plant id  total fuel (mmbtu)  generation (mwh)  elec fuel (mmbtu)  \
year month
2017 2      89637881        2.471045e+09      2.462247e+08       2.349592e+09
     3      90951249        2.659571e+09      2.654742e+08       2.526846e+09
     4      91388289        2.424457e+09      2.422983e+08       2.304171e+09
     5      91583293        2.676784e+09      2.681190e+08       2.555053e+09
     6      91677954        2.997427e+09      3.021853e+08       2.876122e+09

                      lat            lon  quarter  all fuel fossil co2 (kg)  \
year month
2017 2      120729.133612 -296504.534805     3192              1.209563e+11
     3      121757.578709 -298889.971201     3217              1.285636e+11
     4      121805.826865 -299282.190963     6440              1.176367e+11
     5      121961.825569 -299520.312134     6446              1.334064e+11
     6      121896.867105 -299481.456675     6444              1.544630e+11

            elec fuel fossil co2 (kg)  all fuel total co2 (kg)  \
year month
2017 2                   1.155701e+11             1.273938e+11
     3                   1.225800e+11             1.354570e+11
     4                   1.122119e+11             1.239456e+11
     5                   1.278850e+11             1.397844e+11
     6                   1.490479e+11             1.609368e+11

            elec fuel total co2 (kg)
year month
2017 2                  1.180525e+11
     3                  1.252646e+11
     4                  1.147064e+11
     5                  1.304835e+11
     6                  1.516790e+11

### Total national generation (all fuels)
Add generation/fuel consumption reported by facilities (with state-level fuel codes) and extra generation/fuel consumption (which also uses state-level fuel codes).

In [31]:
national_gen = (gen_fuels_state
                .groupby(['type', 'year', 'month'])['generation (mwh)'].sum()
                .add(extra_gen_fuel['generation (mwh)'], fill_value=0))

In [32]:
national_gen.groupby(['year', 'month']).sum().tail()

year  month
2017  2        2.898631e+08
      3        3.199879e+08
      4        2.959468e+08
      5        3.236810e+08
      6        3.582983e+08
Name: generation (mwh), dtype: float64

#### Regroup generation from state codes to my custom fuel codes

In [33]:
national_gen = group_fuel_cats(national_gen.reset_index(), custom_fuel_cat,
                               'type', 'fuel category').set_index(['fuel category', 'year', 'month'])

In [34]:
national_gen.tail()

                          generation (mwh)
fuel category year month
Wind          2017 2           21691634.88
                   3           25598907.50
                   4           25403089.66
                   5           22326395.36
                   6           19428938.56

In [35]:
total_gen = national_gen.groupby(['year', 'month']).sum()
total_gen.head()

            generation (mwh)
year month
2001 1           332493160.0
     2           282940198.0
     3           300706544.0
     4           278078871.0
     5           300491621.0

### Percent generation by custom fuel type

In [36]:
df_list = []
for fuel in national_gen.index.get_level_values('fuel category').unique():
    percent_gen = national_gen.loc[fuel].divide(total_gen, fill_value=0)
    percent_gen['fuel category'] = fuel
    percent_gen.set_index('fuel category', inplace=True, append=True)
    df_list.append(percent_gen)
percent_gen = pd.concat(df_list)

In [162]:
path = join(data_path, 'National data', 'National generation.csv')
national_gen.to_csv(path)

path = join(data_path, 'National data', 'National percent gen.csv')
percent_gen.to_csv(path)

## Facility state and lat/lon file generation
Create a .csv with lat/lon and state code for each facility. Need to manually add the NERC region label. I've done this with a spatial join between the lat/lon and NERC shapefiles in QGIS. It should be possible to do the spatial join in [GeoPandas](http://geopandas.org/), but somehow  Could also add custom region labels (e.g. eGRID subregions, ISO/RTO boundaries, etc).

In [14]:
%aimport Data.make_data
from Data.make_data import facility_location_data

In [15]:
facility_location_data(eia_fac)

## Fraction of estimated gen/fuels in each NERC region

**NOTE** EIA changed the reporting requirements for wind and solar facilities in 2017. I'm now going to use the list of annual facilities from 2017 rather than from 2015, but still use the reported generation by those facilities in 2015.

In [37]:
%aimport Data.make_data
from Data.make_data import get_annual_plants

In [38]:
annual_ids_2015 = get_annual_plants(2015)

In [52]:
annual_ids_2016 = get_annual_plants(2016)

In [39]:
annual_ids_2017 = get_annual_plants(2017)

Combine the lists of annual plants in 2015 and 2017. This lets us catch facilities that have gone from monthly to annual since 2015, but it also includes plants that were annual in 2015 an may have retired.

There is the possibility of an error in allocation to NERC regions for 2016 state-level generation when using the facilities that changed to annual in 2017. But since the state-level generation is so much smaller in 2016 I don't think this is much of an issue.

In [40]:
annual_ids = set(annual_ids_2015.tolist() + annual_ids_2017.tolist())

In [41]:
len(annual_ids)

7146

### Add NERC region labels

In [42]:
%aimport Analysis.state2nerc
from Analysis.state2nerc import fraction_state2nerc, add_region

In [43]:
cwd = os.getcwd()
path = join(data_path, 'Facility labels',
            'Facility locations.csv')
location_labels = pd.read_csv(path)

In [44]:
nerc_state_path = join(data_path, 'Derived data',
                  'NERC_states.json')

with open(nerc_state_path, 'r') as f:
    nerc_states = json.load(f)

Added the filter that year must be 2015 - was getting all 2015 annual plants, but for all years!

In [45]:
eia_2015_annual = eia_fac.loc[(eia_fac['plant id'].isin(annual_ids)) & 
                              (eia_fac['year'] == 2015)].copy()

# Group to state-level fuel categories
eia_2015_annual = group_fuel_cats(eia_2015_annual, state_fuel_cat)

In [46]:
eia_2015_annual_nerc = add_facility_location(eia_2015_annual, location_labels, 
                                        labels=['state', 'nerc'])

This is 2015 data on annual reporting facilities (from both 2015 and 2017)

In [47]:
eia_2015_annual_nerc.tail()

,type,year,month,plant id,total fuel (mmbtu),generation (mwh),elec fuel (mmbtu),lat,lon,quarter,all fuel fossil co2 (kg),elec fuel fossil co2 (kg),all fuel total co2 (kg),elec fuel total co2 (kg),state,nerc
89678,WWW,2015,8,58707,211987.0,13966.0,211987.0,33.238611,-80.450278,3,0.0,0.0,19884380.6,19884380.6,SC,SERC
89679,WWW,2015,9,58707,214505.0,13769.0,214505.0,33.238611,-80.450278,3,0.0,0.0,20120569.0,20120569.0,SC,SERC
89680,WWW,2015,10,58707,162426.0,8554.0,162426.0,33.238611,-80.450278,4,0.0,0.0,15235558.8,15235558.8,SC,SERC
89681,WWW,2015,11,58707,245845.0,13352.0,245845.0,33.238611,-80.450278,4,0.0,0.0,23060261.0,23060261.0,SC,SERC
89682,WWW,2015,12,58707,249553.0,14099.0,249553.0,33.238611,-80.450278,4,0.0,0.0,23408071.4,23408071.4,SC,SERC

In [48]:
# Get a list of all state abbreviations

all_states = []
for value in nerc_states.values():
    all_states.extend(value)
all_states = set(all_states)

In [49]:
df_list = []

for state in all_states:
    try:
        df_list.append(fraction_state2nerc(eia_2015_annual_nerc,
                       state, region_col='nerc', fuel_col='type'))
    except:
        print(state)
        pass

DC

In [50]:
nerc_fraction = pd.concat(df_list)
nerc_fraction.set_index(['state', 'nerc', 'type'], inplace=True)
nerc_fraction.sort_index(inplace=True)

In [51]:
nerc_fraction.loc[idx['TX', :, 'WND'], :]

                 % generation  % total fuel  % elec fuel
state nerc type
TX    SPP  WND       0.213313      0.213313     0.213313
      TRE  WND       0.786687      0.786687     0.786687
      WECC WND       0.000000      0.000000     0.000000

With the values below I can allocate extra state-level generation and fuel use to each of the NERC regions!

In [52]:
nerc_fraction.loc['TX']

           % generation  % total fuel  % elec fuel
nerc type
SPP  NG        0.155345      0.159005     0.181090
     OOG       0.282734      0.159436     0.284516
     PEL       0.019479      0.005109     0.018611
     WAS       0.892327      0.958075     0.847920
     WND       0.213313      0.213313     0.213313
     WWW       0.609573      0.282686     0.398931
TRE  HYC       1.000000      1.000000     1.000000
     NG        0.782840      0.784903     0.747629
     OOG       0.717266      0.840564     0.715484
     OTH       1.000000      1.000000     1.000000
     PC        1.000000      1.000000     1.000000
     PEL       0.900883      0.978261     0.920816
     SUN       0.932089      0.932089     0.932089
     WAS       0.107673      0.041925     0.152080
     WND       0.786687      0.786687     0.786687
     WWW       0.390427      0.717314     0.601069
WECC NG        0.061815      0.056091     0.071282
     PEL       0.079638      0.016630     0.060573
     SUN       0.067911      0.067911     0.067911
     WND       0.000000      0.000000     0.000000

In [53]:
nerc_fraction.tail()

                 % generation  % total fuel  % elec fuel
state nerc type
WY    WECC NG             1.0           1.0          1.0
           OOG            1.0           1.0          1.0
           OTH            1.0           1.0          1.0
           PEL            1.0           1.0          1.0
           WND            1.0           1.0          1.0

Making sure that no values are greater than 1

In [55]:
(nerc_fraction.groupby(['state', 'type']).sum() > 1).any()

% generation    False
% total fuel    False
% elec fuel     False
dtype: bool

## Allocate extra gen from the state-level to regions

I still need to generate state-level total generation and fuel use!

In [56]:
idx = pd.IndexSlice

In [57]:
# a dictionary to match column names
nerc_frac_match = {'% generation': 'generation (mwh)',
                   '% total fuel': 'total fuel (mmbtu)',
                   '% elec fuel': 'elec fuel (mmbtu)'}

### Load state-level total gen/fuel consumption

In [67]:
path = join(data_path, 'EIA state-level gen fuel CO2.csv')

state_total = pd.read_csv(path, parse_dates=['datetime'])

In [68]:
rename_cols(state_total)
state_total['state'] = state_total['geography'].str[-2:]

In [69]:
state_total.head()

,type,year,month,geography,end,f,last_updated,sector,series_id,start,units,generation (mwh),total fuel (mmbtu),elec fuel (mmbtu),all fuel co2 (kg),elec fuel co2 (kg),datetime,quarter,state
0,AOR,2001,1,USA-AK,201706.0,M,2017-08-24T11:46:12-04:00,99.0,ELEC.GEN.AOR-AK-99.M,200101.0,megawatthours,87.00,NaN,NaN,NaN,NaN,2001-01-01,1,AK
1,AOR,2001,1,USA-AL,201706.0,M,2017-08-24T11:46:12-04:00,99.0,ELEC.GEN.AOR-AL-99.M,200101.0,megawatthours,401167.59,NaN,NaN,NaN,NaN,2001-01-01,1,AL
2,AOR,2001,1,USA-AR,201706.0,M,2017-08-24T11:46:12-04:00,99.0,ELEC.GEN.AOR-AR-99.M,200101.0,megawatthours,136530.37,NaN,NaN,NaN,NaN,2001-01-01,1,AR
3,AOR,2001,1,USA-AZ,201706.0,M,2017-08-24T11:46:12-04:00,99.0,ELEC.GEN.AOR-AZ-99.M,200101.0,megawatthours,453.00,NaN,NaN,NaN,NaN,2001-01-01,1,AZ
4,AOR,2001,1,USA-CA,201706.0,M,2017-08-24T11:46:12-04:00,99.0,ELEC.GEN.AOR-CA-99.M,200101.0,megawatthours,1717398.41,NaN,NaN,NaN,NaN,2001-01-01,1,CA

In [70]:
state_total.dtypes

type                          object
year                           int64
month                          int64
geography                     object
end                          float64
f                             object
last_updated                  object
sector                       float64
series_id                     object
start                        float64
units                         object
generation (mwh)             float64
total fuel (mmbtu)           float64
elec fuel (mmbtu)            float64
all fuel co2 (kg)            float64
elec fuel co2 (kg)           float64
datetime              datetime64[ns]
quarter                        int64
state                         object
dtype: object

Simplify the dataframe

In [71]:
cols = list(nerc_frac_match.values())
state_total = state_total.groupby(['state', 'year', 'month', 'type'])[cols].sum()
state_total.head()

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
state year month type
AK    2001 1     AOR               87.0                 NaN                NaN
                 COW            46903.0           1120000.0           872000.0
                 HYC           104549.0                 NaN                NaN
                 NG            367521.0           4091000.0          3989000.0
                 PEL            71085.0            767000.0           763000.0

In [82]:
# list of NERC regions
nercs = nerc_fraction.index.get_level_values('nerc').unique()

### Group the facility data to state fuel categories and add state labels

In [73]:
cols = list(nerc_frac_match.values())
eia_fac_type = group_fuel_cats(eia_fac, state_fuel_cat)
eia_fac_type = add_facility_location(eia_fac_type, location_labels, ['state'])
eia_fac_type = eia_fac_type.groupby(['state', 'year', 'month', 'type'])[cols].sum()

In [74]:
eia_fac_type.loc[idx['OK', 2017, :, 'WND'], :]

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
state year month type
OK    2017 1     WND           982955.0           9160159.0          9160159.0
           2     WND          1053595.0           9818451.0          9818451.0
           3     WND          1237665.0          11533802.0         11533802.0
           4     WND          1164423.0          10851260.0         10851260.0
           5     WND           960103.0           8947200.0          8947200.0
           6     WND           987307.0           9200713.0          9200713.0

In [75]:
eia_fac_type.head()

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
state year month type
AL    2001 1     COW        6547312.020         67581702.00        66429143.00
                 HYC         767601.000          7931621.15         7931621.15
                 NG          503553.867          7213851.00         4689532.00
                 NUC        2940300.000         30702612.00        30702612.00
                 OOG           2828.126           164765.00           31285.00

### Calculate the extra gen/fuel consumption at the state levels
**Only worrying about extra generation from 2016 forward.**

In [76]:
state_extra = (state_total.loc[idx[:, 2016:, :, :], :]
               - eia_fac_type.loc[idx[:, 2016:, :, :], :])
state_extra.dropna(how='all', inplace=True)
state_extra = state_extra.reorder_levels(['year', 'state', 'month', 'type'])
state_extra.sort_index(inplace=True)
state_extra.head()

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
year state month type
2016 AL    1     COW           3172.785            143129.0            28261.0
                 HYC         300276.300                 NaN                NaN
                 NG          149094.522           2875066.0          1677549.0
                 NUC              0.000                 NaN                NaN
                 PEL           1987.279             89981.0            17614.0

The huge jump in Texas state-level wind generation is why I need to use more recent lists of annual reporting facilities rather than the list from 2015.

In [77]:
state_extra.loc[idx[:, 'TX', :, 'WND'], :]

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
year state month type
2016 TX    1     WND           90562.51                 NaN                NaN
           2     WND          102900.59                 NaN                NaN
           3     WND          123610.89                 NaN                NaN
           4     WND          107811.34                 NaN                NaN
           5     WND          112386.52                 NaN                NaN
           6     WND           91352.99                 NaN                NaN
           7     WND          115339.50                 NaN                NaN
           8     WND           82661.79                 NaN                NaN
           9     WND           85334.20                 NaN                NaN
           10    WND          108237.19                 NaN                NaN
           11    WND           87830.32                 NaN                NaN
           12    WND           96075.55                 NaN                NaN
2017 TX    1     WND         2991690.73                 NaN                NaN
           2     WND         2924136.52                 NaN                NaN
           3     WND         3451667.09                 NaN                NaN
           4     WND         3422068.33                 NaN                NaN
           5     WND         3037395.57                 NaN                NaN
           6     WND         2438002.79                 NaN                NaN

Why is generation from facilities greater than state-level estimates in some cases?

In [193]:
state_extra.loc[(state_extra < -100).any(axis=1)]

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
year state month type
2016 AZ    6     HYC         -12722.670                 NaN                NaN
           7     HYC         -12463.360                 NaN                NaN
           8     HYC          -6672.920                 NaN                NaN
     CA    1     OOG         -36609.329                 NaN                NaN
           2     OOG         -35875.716                 NaN                NaN
           3     OOG         -35981.849                 NaN                NaN
           4     OOG         -25453.429                 NaN                NaN
           5     OOG         -37564.717                 NaN                NaN
           6     OOG         -36266.771                 NaN                NaN
           7     OOG         -34884.006                 NaN                NaN
           8     OOG         -35066.275                 NaN                NaN
           9     OOG         -37674.828                 NaN                NaN
           10    OOG         -36968.936                 NaN                NaN
           11    OOG         -33645.069                 NaN                NaN
           12    OOG         -36549.401                 NaN                NaN
     FL    1     OOG          -2215.246                 NaN                NaN
           2     OOG          -6301.215                 NaN                NaN
           3     OOG          -7743.011                 NaN                NaN
           4     OOG          -7163.809                 NaN                NaN
           5     OOG          -7527.673                 NaN                NaN
           6     OOG          -4412.662                 NaN                NaN
           7     OOG          -3398.979                 NaN                NaN
           8     OOG          -5283.892                 NaN                NaN
           9     OOG          -5375.453                 NaN                NaN
           10    OOG          -5124.908                 NaN                NaN
           11    OOG          -5939.829                 NaN                NaN
           12    OOG          -5858.501                 NaN                NaN
     IN    1     PEL        -169080.314          -1227573.0         -1227775.0
           2     PEL        -150481.598          -1088481.0         -1088690.0
           3     PEL         -40284.979           -350888.0          -351000.0
...                                 ...                 ...                ...
2017 MI    5     OOG         -27008.003                 NaN                NaN
           6     OOG         -23453.997                 NaN                NaN
     NJ    1     OOG         -19288.000                 NaN                NaN
           2     OOG         -17994.000                 NaN                NaN
           3     OOG         -16372.000                 NaN                NaN
           4     OOG         -14897.000                 NaN                NaN
           5     OOG         -11254.000                 NaN                NaN
           6     OOG         -17793.000                 NaN                NaN
     NY    1     OOG         -11203.000                 NaN                NaN
           2     OOG         -10535.000                 NaN                NaN
           3     OOG         -11829.000                 NaN                NaN
           4     OOG         -11114.000                 NaN                NaN
           5     OOG         -10736.000                 NaN                NaN
           6     OOG          -9741.000                 NaN                NaN
     OH    5     OTH           -829.004                 NaN                NaN
           6     OTH           -808.997                 NaN                NaN
     PA    1     OOG          -5416.866                 NaN                NaN
           4     OOG          -1904.495                 NaN                NaN
     UT    1     OOG           -943.999                 NaN                NaN
           2     OOG          -1026.004                 NaN                NaN
           3     OOG           -863.002                 NaN                NaN
           4     OOG          -1409.003                 NaN                NaN
           5     OOG          -1055.004                 NaN                NaN
           6     OOG           -807.997                 NaN                NaN
     WA    1     OOG         -14890.997                 NaN                NaN
           2     OOG         -14144.995                 NaN                NaN
           3     OOG         -16384.000                 NaN                NaN
           4     OOG         -16371.998                 NaN                NaN
           5     OOG         -16668.002                 NaN                NaN
           6     OOG         -12937.003                 NaN                NaN

[109 rows x 3 columns]

Sort the index of each dataframe to make sure they can be easily combined.

In [78]:
nerc_fraction.sort_index(inplace=True)
nerc_fraction.loc[idx['TX', 'WECC', :], :].tail()

                 % generation  % total fuel  % elec fuel
state nerc type
TX    WECC NG        0.061815      0.056091     0.071282
           PEL       0.079638      0.016630     0.060573
           SUN       0.067911      0.067911     0.067911
           WND       0.000000      0.000000     0.000000

In [79]:
state_extra.sort_index(inplace=True)
state_extra.head()

                       generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
year state month type
2016 AL    1     COW           3172.785            143129.0            28261.0
                 HYC         300276.300                 NaN                NaN
                 NG          149094.522           2875066.0          1677549.0
                 NUC              0.000                 NaN                NaN
                 PEL           1987.279             89981.0            17614.0

Create a copy of the `nerc_fraction` dataframe with repeated values for every month of the year, so that they MultiIndex matches the `state_extra` MultiIndex

In [80]:
df_list = []
for month in range(1, 13):
    df = nerc_fraction.copy()
    df['month'] = month
    df.set_index('month', append=True, inplace=True)
    df_list.append(df)

nerc_frac_monthly = pd.concat(df_list, axis=0)
nerc_frac_monthly.sort_index(inplace=True)
nerc_frac_monthly = (nerc_frac_monthly
                     .reorder_levels(['nerc', 'state', 'month', 'type']))

In [63]:
nercs

Index(['SERC', '-', 'SPP', 'WECC', 'NPCC', 'RFC', 'FRCC', 'MRO', 'TRE'], dtype='object', name='nerc')

Cycle through each year (2016 and 2017 in this case) and each NERC, multiplying the state-level extra generation, total fuel consumption, and fuel consumption for electricity by the share that should be allocated to each NERC.

In [200]:
df_list_outer = []
for year in [2016, 2017]:
    df_list_inner = []
    for nerc in nercs:
        df = pd.concat([(nerc_frac_monthly
                         .loc[nerc]['% generation']
                         * state_extra
                         .loc[year]['generation (mwh)']).dropna(),
                        (nerc_frac_monthly.
                         loc[nerc]['% total fuel']
                         * state_extra
                         .loc[year]['total fuel (mmbtu)']).dropna(),
                        (nerc_frac_monthly
                         .loc[nerc]['% elec fuel']
                         * state_extra
                         .loc[year]['elec fuel (mmbtu)']).dropna()],
                        axis=1)
        df.columns = nerc_frac_match.values()
        df['nerc'] = nerc
        df['year'] = year
        df = df.groupby(['year', 'nerc', 'month', 'type']).sum()
        df_list_inner.append(df)

    df_list_outer.append(pd.concat(df_list_inner))
final = pd.concat(df_list_outer)
final.sort_index(inplace=True)

In [202]:
nerc_frac_monthly.sort_index(inplace=True)

Although the dataframe is called `final`, it's really just the final allocated extra state-level generation/fuel consumption

In [206]:
final.loc[idx[2017, 'SPP', :, 'WND'], :]

                      generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
year nerc month type
2017 SPP  1     WND       2.373849e+06                 NaN                NaN
          2     WND       2.379149e+06                 NaN                NaN
          3     WND       2.799971e+06                 NaN                NaN
          4     WND       2.764657e+06                 NaN                NaN
          5     WND       2.389331e+06                 NaN                NaN
          6     WND       1.982435e+06                 NaN                NaN

In [105]:
final

                      generation (mwh)  total fuel (mmbtu)  elec fuel (mmbtu)
year nerc month type
2016 SERC 1     COW       1.250252e+05        4.777255e+06       1.075619e+06
                HYC       1.578592e+06                 NaN                NaN
                NG        6.487438e+05        1.456982e+07       5.659672e+06
                OOG       2.896880e+04                 NaN                NaN
                OTH       1.081877e+05                 NaN                NaN
                PC        9.706641e+03        3.439330e+05       4.924300e+04
                PEL       1.467958e+04        2.632000e+05       1.213191e+05
                SUN       1.530236e+05                 NaN                NaN
                WAS       1.460550e+05                 NaN                NaN
                WND       2.933270e+03                 NaN                NaN
                WWW       5.505123e+05                 NaN                NaN
          2     COW       1.096822e+05        4.247556e+06       8.969419e+05
                HYC       1.422324e+06                 NaN                NaN
                NG        5.949623e+05        1.374200e+07       5.163385e+06
                OOG       2.626671e+04                 NaN                NaN
                OTH       9.516741e+04                 NaN                NaN
                PC        1.428786e+04        4.354360e+05       7.247600e+04
                PEL       8.375256e+03        1.463122e+05       6.522541e+04
                SUN       2.686865e+05                 NaN                NaN
                WAS       1.280215e+05                 NaN                NaN
                WND       3.305718e+03                 NaN                NaN
                WWW       5.137783e+05                 NaN                NaN
          3     COW       9.485107e+04        3.890549e+06       7.402895e+05
                HYC       1.165033e+06                 NaN                NaN
                NG        6.751874e+05        1.450502e+07       5.884467e+06
                OOG       2.883483e+04                 NaN                NaN
                OTH       1.067343e+05                 NaN                NaN
                PC        1.851254e+04        5.076600e+05       9.391000e+04
                PEL       6.407982e+03        8.983574e+04       4.747977e+04
                SUN       2.930856e+05                 NaN                NaN
...                                ...                 ...                ...
2017 TRE  4     HYC       1.032891e+05                 NaN                NaN
                NG        3.361071e+06        3.723031e+07       2.851581e+07
                OOG       3.592197e+04                 NaN                NaN
                OTH       3.620240e+03                 NaN                NaN
                PC        0.000000e+00        1.006100e+04      -4.000000e+00
                PEL       2.303771e+01        2.171757e+02       3.065437e+02
                SUN       9.248117e+04                 NaN                NaN
                WAS       1.533996e+04                 NaN                NaN
                WND       6.339001e+05                 NaN                NaN
                WWW       2.542933e+04                 NaN                NaN
          5     HYC       1.264384e+05                 NaN                NaN
                NG        3.600007e+06        3.985479e+07       3.140188e+07
                OOG       3.692411e+04                 NaN                NaN
                OTH       4.674410e+03                 NaN                NaN
                PC        4.283650e+02        1.966200e+04       5.025000e+03
                PEL       2.383657e+01        2.141016e+02       3.036934e+02
                SUN       1.142562e+05                 NaN                NaN
                WAS       1.606144e+04                 NaN                NaN
                WND       5.626438e+05                 NaN                NaN
                WWW       2.635988e+04                 NaN                NaN
          6     HYC       9.661602e+04                 NaN                NaN
                NG        3.963976e+06        4.393014e+07       3.514864e+07
                OOG       3.673275e+04                 NaN                NaN
                OTH       3.564520e+03                 NaN                NaN
                PC        7.677440e+02        2.105800e+04       9.005000e+03
                PEL       2.141938e+01        1.795632e+02       2.542007e+02
                SUN       1.218703e+05                 NaN                NaN
                WAS       1.504799e+04                 NaN                NaN
                WND       4.516129e+05                 NaN                NaN
                WWW       2.727325e+04                 NaN                NaN

[1583 rows x 3 columns]

In [207]:
path = join(data_path, 'NERC extra gen fuels_rev.csv')
final.to_csv(path)